<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
            integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
            crossorigin="anonymous"
        />

        <title>Khalis | Home</title>
        <style>
            img {
                border-radius: 50%;
            }

            .right {
                float: right;
                width: 500px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button
                        type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar"
                    >
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Home</a>
                    <a class="navbar-brand" href="/projects">Projects</a>
                    <a class="navbar-brand" href="#">Contact</a>
                </div>
            </div>
        </nav>

        <div style="text-align: center">
            <table align="center" cellspacing="12" style="margin: 0 auto">
                <tr>
                    <td valign="middle">
                        <a href="https://www.linkedin.com/in/khalisruzli/">
                            <img
                                src="/static/kr.jpg"
                                href="alt"
                                ="avatar"
                                width="200"
                                height="200"
                                style="display: block"
                            />
                        </a>
                    </td>
                    <td valign="middle" align="left">
                        <h2 style="margin: 0">Hi, I'm Khalis Ruzli!</h2>
                        <p style="margin: 6px 0 0">
                            A mid-career professional transitioning into
                            DevOps.<br />I love solving problems and building
                            reliable systems.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
